<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">

    <!-- Конфигурация аппендера для записи логов в файл -->
    <Appenders>
        <File name="File" fileName="logs/application.log">
            <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
        </File>
    </Appenders>

    <!-- Конфигурация логгеров -->
    <Loggers>
        <!-- Установка уровня логирования для корневого логгера на уровень "debug" -->
        <Root level="TRACE">
            <AppenderRef ref="File"/>
        </Root>
    </Loggers>

</Configuration>
<!-- Уровни логирования
1. OFF: Самый низкий уровень, который отключает логирование. Если установлен на уровне какого-либо логгера, то ниже уровни не будут логироваться.
2. FATAL: Логирование фатальных ошибок, которые приводят к краху приложения.
3. ERROR: Логирование ошибок.
4. WARN: Логирование предупреждений, которые могут указывать на потенциальные проблемы.
5. INFO: Логирование информационных сообщений, которые не являются ошибками или предупреждениями.
6. DEBUG: Логирование отладочной информации. Обычно используется для отслеживания выполнения кода в процессе разработки и тестирования.
7. TRACE: Самый высокий уровень логирования, предоставляющий наиболее детальную отладочную информацию.
8. ALL: Самый высокий уровень, включающий все уровни логирования, включая TRACE.
-->